{
    "openapi": "3.1.0",
    "info": {
        "title": "Podscan.fm",
        "version": "1.0.0",
        "description": "\nThe Podscan API is a RESTful API that allows you to access the Podscan platform. The API is designed to be easy to use and to have predictable, resource-oriented URLs. The API uses standard HTTP response codes and verbs, and authenticates using standard HTTP Basic Authentication.\n\n## Authentication\nThe Podscan API uses standard API key authentication. You will need to provide your API key in the `Authorization` header as a `Bearer` token. You can find your [API key in the Podscan dashboard](https://podscan.fm/user/api-tokens).\n\n## Rate Limiting\nThe Podscan API is rate limited. If you exceed the limit, you will receive a 429 Too Many Requests response. If we detect abuse, we will block your access to the API.\nHere are the rate limits for the Podscan API:\n- **Trial**: 100 requests per day, 10 requests per minute\n- **Essential Plan**: 1000 requests per day, 60 requests per minute\n- **Premium Plan**: 2000 requests per day, 120 requests per minute\n- **Enterprise Plan**: 5000 requests per day, 120 requests per minute\n- Enterprise plan owners can request custom rate limits.\n\nEvery request to the API will return the following headers:\n- `X-RateLimit-Limit`: The maximum number of requests that the consumer is permitted to make in a 60-minute period.\n- `X-RateLimit-Remaining`: The number of requests remaining in the current rate limit window.\n\n## Errors\nThe Podscan API uses standard HTTP response codes to indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a charge failed, etc.), and codes in the 5xx range indicate an error with Podscan's servers.\n\n## Pagination\nRequests that return multiple items will be paginated by default. You can specify further pages with the `page` parameter. For some resources, you can also set a custom page size with the `per_page` parameter.\n\n## Final Notes\nThe Podscan API is a work in progress. We will be adding more endpoints and features in the future. If you have any questions or need help, please contact us at [service@podscan.fm](mailto:service@podscan.fm).\n"
    },
    "servers": [
        {
            "url": "https://podscan.fm/api/v1"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/teams/{team}/alerts": {
            "get": {
                "operationId": "alerts.index",
                "summary": "List all alerts for a team",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "alerts": {
                                            "type": "array",
                                            "description": "A list of alerts",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "alert_enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "alert_name": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    },
                                                    "prompt_filters": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "prompt_question": {
                                                        "type": "string"
                                                    },
                                                    "prompt_question_enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "webhook_enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "webhook_url": {
                                                        "type": "string"
                                                    },
                                                    "notification_email": {
                                                        "type": "string"
                                                    },
                                                    "notification_summary_enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "notification_summary_frequency": {
                                                        "type": "string"
                                                    },
                                                    "restrict_to_category_ids": {
                                                        "type": "string"
                                                    },
                                                    "restrict_to_podcast_ids": {
                                                        "type": "string"
                                                    },
                                                    "mention_count": {
                                                        "type": "integer"
                                                    },
                                                    "team_id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "alert_enabled",
                                                    "alert_name",
                                                    "created_at",
                                                    "updated_at",
                                                    "prompt_filters",
                                                    "prompt_question",
                                                    "prompt_question_enabled",
                                                    "webhook_enabled",
                                                    "webhook_url",
                                                    "notification_email",
                                                    "notification_summary_enabled",
                                                    "notification_summary_frequency",
                                                    "restrict_to_category_ids",
                                                    "restrict_to_podcast_ids",
                                                    "mention_count",
                                                    "team_id"
                                                ]
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "string"
                                                },
                                                "current_page": {
                                                    "type": "string"
                                                },
                                                "last_page": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "per_page",
                                                "current_page",
                                                "last_page",
                                                "from",
                                                "to"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "alerts",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "alerts.create",
                "description": "Creates and immediately activates a new alert for the team.",
                "summary": "Create a new alert",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "alert_name": {
                                        "type": "string",
                                        "description": "Name of the alert, mostly for reference in the UI and notification emails"
                                    },
                                    "prompt_filters": {
                                        "type": "array",
                                        "description": "A list of strings to scan for, with wildcard (`word*`), negation (`word NOT unwanted_word`), and phrase (`\"word word\"`) support\nHas to be between 1 and 10 items.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "alert_enabled": {
                                        "type": "boolean",
                                        "description": "Whether the alert should run or be paused. `true` or `false`."
                                    },
                                    "notification_email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "An email address to send a notification to when a new mention is found. Defaults to your account's email or the team's email if set."
                                    },
                                    "notification_summary_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to send a summary of the alert's mentions instead of one email per mention. `true` or `false`."
                                    },
                                    "notification_summary_frequency": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "How often to send a summary of the alert's mentions. `daily`, `weekly`, or `monthly`."
                                    },
                                    "webhook_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to send a POST request to a URL when a new mention is found. `true` or `false`."
                                    },
                                    "webhook_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A URL to send a POST request to when a new mention is found. The request will contain a JSON object with the mention's details."
                                    },
                                    "prompt_question_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to ask an AI-answered question of teh transcript when a new mention is found. `true` or `false`. Defaults to `false`."
                                    },
                                    "prompt_question": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "The Yes/No question to ask the AI when a new mention is found. Only used if `prompt_question_enabled` is `true`."
                                    },
                                    "restrict_to_category_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of category IDs to restrict the alert to. If not set, the alert will scan all categories."
                                    },
                                    "ignore_category_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of category IDs to ignore for the alert. If not set, the alert will ignore no categories."
                                    },
                                    "restrict_to_podcast_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of podcast IDs to restrict the alert to. If not set, the alert will scan all podcasts."
                                    },
                                    "ignore_podcast_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of podcast IDs to ignore for the alert. If not set, the alert will ignore no podcasts."
                                    }
                                },
                                "required": [
                                    "alert_name",
                                    "prompt_filters"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the newly created alert object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "created"
                                        },
                                        "alert": {
                                            "type": "object",
                                            "description": "The alert",
                                            "properties": {
                                                "alert_enabled": {
                                                    "type": "boolean"
                                                },
                                                "alert_name": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "prompt_filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "prompt_question": {
                                                    "type": "string"
                                                },
                                                "prompt_question_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_url": {
                                                    "type": "string"
                                                },
                                                "notification_email": {
                                                    "type": "string"
                                                },
                                                "notification_summary_enabled": {
                                                    "type": "boolean"
                                                },
                                                "notification_summary_frequency": {
                                                    "type": "string"
                                                },
                                                "restrict_to_category_ids": {
                                                    "type": "string"
                                                },
                                                "restrict_to_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_category_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "mention_count": {
                                                    "type": "integer"
                                                },
                                                "team_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "alert_enabled",
                                                "alert_name",
                                                "created_at",
                                                "updated_at",
                                                "prompt_filters",
                                                "prompt_question",
                                                "prompt_question_enabled",
                                                "webhook_enabled",
                                                "webhook_url",
                                                "notification_email",
                                                "notification_summary_enabled",
                                                "notification_summary_frequency",
                                                "restrict_to_category_ids",
                                                "restrict_to_podcast_ids",
                                                "ignore_category_ids",
                                                "ignore_podcast_ids",
                                                "mention_count",
                                                "team_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "alert"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid podcast ID in ignore_podcast_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid podcast ID in restrict_to_podcast_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid category ID in ignore_category_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid category ID in restrict_to_category_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/teams/{team}/alerts/{alert}": {
            "get": {
                "operationId": "alerts.show",
                "description": "Returns the details of a single alert.",
                "summary": "Show a single alert",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alert",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the alert as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "alert": {
                                            "type": "object",
                                            "description": "The alert",
                                            "properties": {
                                                "alert_enabled": {
                                                    "type": "boolean"
                                                },
                                                "alert_name": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "prompt_filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "prompt_question": {
                                                    "type": "string"
                                                },
                                                "prompt_question_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_url": {
                                                    "type": "string"
                                                },
                                                "notification_email": {
                                                    "type": "string"
                                                },
                                                "notification_summary_enabled": {
                                                    "type": "boolean"
                                                },
                                                "notification_summary_frequency": {
                                                    "type": "string"
                                                },
                                                "restrict_to_category_ids": {
                                                    "type": "string"
                                                },
                                                "restrict_to_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_category_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "mention_count": {
                                                    "type": "integer"
                                                },
                                                "team_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "alert_enabled",
                                                "alert_name",
                                                "created_at",
                                                "updated_at",
                                                "prompt_filters",
                                                "prompt_question",
                                                "prompt_question_enabled",
                                                "webhook_enabled",
                                                "webhook_url",
                                                "notification_email",
                                                "notification_summary_enabled",
                                                "notification_summary_frequency",
                                                "restrict_to_category_ids",
                                                "restrict_to_podcast_ids",
                                                "ignore_category_ids",
                                                "ignore_podcast_ids",
                                                "mention_count",
                                                "team_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "alert"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "alerts.delete",
                "description": "Deletes an alert and all its mentions.",
                "summary": "Delete an alert",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alert",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the alert as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "deleted"
                                        }
                                    },
                                    "required": [
                                        "status"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "alerts.update",
                "description": "Updates the settings of an alert.",
                "summary": "Update an alert",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alert",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the alert as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "alert_name": {
                                        "type": "string",
                                        "description": "Name of the alert, mostly for reference in the UI and notification emails"
                                    },
                                    "prompt_filters": {
                                        "type": "array",
                                        "description": "A list of strings to scan for, with wildcard (`word*`), negation (`word NOT unwanted_word`), and phrase (`\"word word\"`) support\nHas to be between 1 and 10 items.",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "alert_enabled": {
                                        "type": "boolean",
                                        "description": "Whether the alert should run or be paused. `true` or `false`."
                                    },
                                    "notification_email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "An email address to send a notification to when a new mention is found. Defaults to your account's email or the team's email if set."
                                    },
                                    "notification_summary_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to send a summary of the alert's mentions instead of one email per mention. `true` or `false`."
                                    },
                                    "notification_summary_frequency": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "How often to send a summary of the alert's mentions. `daily`, `weekly`, or `monthly`."
                                    },
                                    "webhook_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to send a POST request to a URL when a new mention is found. `true` or `false`."
                                    },
                                    "webhook_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A URL to send a POST request to when a new mention is found. The request will contain a JSON object with the mention's details."
                                    },
                                    "prompt_question_enabled": {
                                        "type": "boolean",
                                        "description": "Whether to ask an AI-answered question of teh transcript when a new mention is found. `true` or `false`. Defaults to `false`."
                                    },
                                    "prompt_question": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "The Yes/No question to ask the AI when a new mention is found. Only used if `prompt_question_enabled` is `true`."
                                    },
                                    "restrict_to_category_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of category IDs to restrict the alert to. If not set, the alert will scan all categories."
                                    },
                                    "restrict_to_podcast_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of podcast IDs to restrict the alert to. If not set, the alert will scan all podcasts."
                                    },
                                    "ignore_category_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of category IDs to ignore for the alert. If not set, the alert will ignore no categories."
                                    },
                                    "ignore_podcast_ids": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A comma-separated list of podcast IDs to ignore for the alert. If not set, the alert will ignore no podcasts."
                                    }
                                },
                                "required": [
                                    "alert_name",
                                    "prompt_filters"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "updated"
                                        },
                                        "alert": {
                                            "type": "object",
                                            "description": "The alert",
                                            "properties": {
                                                "alert_enabled": {
                                                    "type": "boolean"
                                                },
                                                "alert_name": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "prompt_filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "prompt_question": {
                                                    "type": "string"
                                                },
                                                "prompt_question_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_url": {
                                                    "type": "string"
                                                },
                                                "notification_email": {
                                                    "type": "string"
                                                },
                                                "notification_summary_enabled": {
                                                    "type": "boolean"
                                                },
                                                "notification_summary_frequency": {
                                                    "type": "string"
                                                },
                                                "restrict_to_category_ids": {
                                                    "type": "string"
                                                },
                                                "restrict_to_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_category_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "mention_count": {
                                                    "type": "integer"
                                                },
                                                "team_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "alert_enabled",
                                                "alert_name",
                                                "created_at",
                                                "updated_at",
                                                "prompt_filters",
                                                "prompt_question",
                                                "prompt_question_enabled",
                                                "webhook_enabled",
                                                "webhook_url",
                                                "notification_email",
                                                "notification_summary_enabled",
                                                "notification_summary_frequency",
                                                "restrict_to_category_ids",
                                                "restrict_to_podcast_ids",
                                                "ignore_category_ids",
                                                "ignore_podcast_ids",
                                                "mention_count",
                                                "team_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "alert"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid podcast ID in ignore_podcast_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid podcast ID in restrict_to_podcast_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid category ID in ignore_category_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid category ID in restrict_to_category_ids"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/teams/{team}/alerts/{alert}/mentions": {
            "get": {
                "operationId": "alerts.mentions.index",
                "description": "Returns a list of mentions for an alert.",
                "summary": "List mentions for an alert",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alert",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the alert as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mentions": {
                                            "type": "array",
                                            "description": "A list of mentions",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "mention_id": {
                                                        "type": "string"
                                                    },
                                                    "email_status": {
                                                        "type": "string"
                                                    },
                                                    "detected_type": {
                                                        "type": "string"
                                                    },
                                                    "detected_filter": {
                                                        "type": "string"
                                                    },
                                                    "detected_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "excerpt": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    },
                                                    "episode": {
                                                        "type": "object",
                                                        "properties": {
                                                            "episode_id": {
                                                                "type": "string"
                                                            },
                                                            "episode_title": {
                                                                "type": "string"
                                                            },
                                                            "episode_url": {
                                                                "type": "string"
                                                            },
                                                            "podcast": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "podcast_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "podcast_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "podcast_url": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "podcast_id",
                                                                    "podcast_name",
                                                                    "podcast_url"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "episode_id",
                                                            "episode_title",
                                                            "episode_url",
                                                            "podcast"
                                                        ]
                                                    },
                                                    "scan": {
                                                        "type": "object",
                                                        "properties": {
                                                            "scan_id": {
                                                                "type": "string"
                                                            },
                                                            "scan_name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "scan_id",
                                                            "scan_name"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "mention_id",
                                                    "email_status",
                                                    "detected_type",
                                                    "detected_filter",
                                                    "detected_timestamp",
                                                    "excerpt",
                                                    "created_at",
                                                    "updated_at",
                                                    "episode",
                                                    "scan"
                                                ]
                                            }
                                        },
                                        "alert": {
                                            "type": "object",
                                            "description": "The alert",
                                            "properties": {
                                                "alert_enabled": {
                                                    "type": "boolean"
                                                },
                                                "alert_name": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "prompt_filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "prompt_question": {
                                                    "type": "string"
                                                },
                                                "prompt_question_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_url": {
                                                    "type": "string"
                                                },
                                                "notification_email": {
                                                    "type": "string"
                                                },
                                                "notification_summary_enabled": {
                                                    "type": "boolean"
                                                },
                                                "notification_summary_frequency": {
                                                    "type": "string"
                                                },
                                                "restrict_to_category_ids": {
                                                    "type": "string"
                                                },
                                                "restrict_to_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_category_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "mention_count": {
                                                    "type": "integer"
                                                },
                                                "team_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "alert_enabled",
                                                "alert_name",
                                                "created_at",
                                                "updated_at",
                                                "prompt_filters",
                                                "prompt_question",
                                                "prompt_question_enabled",
                                                "webhook_enabled",
                                                "webhook_url",
                                                "notification_email",
                                                "notification_summary_enabled",
                                                "notification_summary_frequency",
                                                "restrict_to_category_ids",
                                                "restrict_to_podcast_ids",
                                                "ignore_category_ids",
                                                "ignore_podcast_ids",
                                                "mention_count",
                                                "team_id"
                                            ]
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "string"
                                                },
                                                "current_page": {
                                                    "type": "string"
                                                },
                                                "last_page": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "per_page",
                                                "current_page",
                                                "last_page",
                                                "from",
                                                "to"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "mentions",
                                        "alert",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{team}/alerts/{alert}/mentions/{mention}": {
            "get": {
                "operationId": "alerts.mentions.show",
                "description": "Returns the details of a single mention.",
                "summary": "Show a single mention",
                "tags": [
                    "Alerts"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the team as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alert",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the alert as a string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mention",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the mention as a string",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mention": {
                                            "type": "object",
                                            "description": "The mention",
                                            "properties": {
                                                "mention_id": {
                                                    "type": "string"
                                                },
                                                "email_status": {
                                                    "type": "string"
                                                },
                                                "detected_type": {
                                                    "type": "string"
                                                },
                                                "detected_filter": {
                                                    "type": "string"
                                                },
                                                "detected_timestamp": {
                                                    "type": "string"
                                                },
                                                "excerpt": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "episode": {
                                                    "type": "object",
                                                    "properties": {
                                                        "episode_id": {
                                                            "type": "string"
                                                        },
                                                        "episode_title": {
                                                            "type": "string"
                                                        },
                                                        "episode_url": {
                                                            "type": "string"
                                                        },
                                                        "podcast": {
                                                            "type": "object",
                                                            "properties": {
                                                                "podcast_id": {
                                                                    "type": "string"
                                                                },
                                                                "podcast_name": {
                                                                    "type": "string"
                                                                },
                                                                "podcast_url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "podcast_id",
                                                                "podcast_name",
                                                                "podcast_url"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "episode_id",
                                                        "episode_title",
                                                        "episode_url",
                                                        "podcast"
                                                    ]
                                                },
                                                "scan": {
                                                    "type": "object",
                                                    "properties": {
                                                        "scan_id": {
                                                            "type": "string"
                                                        },
                                                        "scan_name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "scan_id",
                                                        "scan_name"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "mention_id",
                                                "email_status",
                                                "detected_type",
                                                "detected_filter",
                                                "detected_timestamp",
                                                "excerpt",
                                                "created_at",
                                                "updated_at",
                                                "episode",
                                                "scan"
                                            ]
                                        },
                                        "alert": {
                                            "type": "object",
                                            "description": "The alert",
                                            "properties": {
                                                "alert_enabled": {
                                                    "type": "boolean"
                                                },
                                                "alert_name": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "prompt_filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "prompt_question": {
                                                    "type": "string"
                                                },
                                                "prompt_question_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_enabled": {
                                                    "type": "boolean"
                                                },
                                                "webhook_url": {
                                                    "type": "string"
                                                },
                                                "notification_email": {
                                                    "type": "string"
                                                },
                                                "notification_summary_enabled": {
                                                    "type": "boolean"
                                                },
                                                "notification_summary_frequency": {
                                                    "type": "string"
                                                },
                                                "restrict_to_category_ids": {
                                                    "type": "string"
                                                },
                                                "restrict_to_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_category_ids": {
                                                    "type": "string"
                                                },
                                                "ignore_podcast_ids": {
                                                    "type": "string"
                                                },
                                                "mention_count": {
                                                    "type": "integer"
                                                },
                                                "team_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "alert_enabled",
                                                "alert_name",
                                                "created_at",
                                                "updated_at",
                                                "prompt_filters",
                                                "prompt_question",
                                                "prompt_question_enabled",
                                                "webhook_enabled",
                                                "webhook_url",
                                                "notification_email",
                                                "notification_summary_enabled",
                                                "notification_summary_frequency",
                                                "restrict_to_category_ids",
                                                "restrict_to_podcast_ids",
                                                "ignore_category_ids",
                                                "ignore_podcast_ids",
                                                "mention_count",
                                                "team_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "mention",
                                        "alert"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "operationId": "categories.index",
                "summary": "List all categories",
                "tags": [
                    "Category"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "categories": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "category_id": {
                                                        "type": "string"
                                                    },
                                                    "category_name": {
                                                        "type": "string"
                                                    },
                                                    "category_display_name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "category_id",
                                                    "category_name",
                                                    "category_display_name"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "categories"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/episodes/search": {
            "get": {
                "operationId": "episodes.search",
                "description": "Full-text search for podcast episodes.\n\n### Parameters\nUse these query parameters to filter the results:\n - `query` is the search query\n - `category_ids` contains the category IDs to filter by\n   - a string, as a comma-separated list, like `ct_123,ct_456`\n - `podcast_ids` contains the podcast IDs to filter by\n   - a string, as a comma-separated list, like `pd_123,pd_456`\n - `before` is the date to get episodes before\n   - a string like `2024-07-03 15:44:25`, defaults to now\n - `since` is the date to get episodes since\n   - a string like `2023-07-03 15:44:25`, defaults to 1 year ago\n - `per_page` is the number of results per page\n    - an integer, defaults to `5`, maximum of `50`\n - `order_by` is the field to order by\n    - a string, valid options: `created_at`, `title`, `posted_at`, or `podcast_rating`. Defaults to `posted_at`\n - `order_dir` is the direction to order\n    - a string, valid options: `asc` or `desc`, defaults to `desc`\n - `search_fields` is the fields to search in\n    - a string, as a comma-separated list, valid options: `transcription`, `title`, `description`, and any combination of those. Defaults to all valid fields\n - `show_full_podcast` is a boolean string to show the full podcast information (instead of just ID, name, and website),\n    - a boolean, values are `true` or `false`, defaults to `false`\n - `word_level_timestamps` is a boolean string to show word-level timestamps in the transcript\n     - populates `episode_transcript_word_level_timestamps`, which can be `false` or an object that contains a JSON object with start and end timings for each phrase, the words within, including avg_logprob confidence scores, no-speech scores, and compression ratio\n    - ⚠️ This will increase the size of the response significantly\n\n### Query Syntax\n Inside the query, use `*` as a wildcard for any character sequence, and wrap terms in `\"` to search for an exact phrase.\n\nExample queries:\n- `apple` will search for the term \"apple\" in all fields\n- `\"apple podcast\"` will search for the exact phrase \"apple podcast\" in all fields\n- `\"apple podcast\" iPad iPod iPhone` will search for the term \"apple podcast\" and any of the terms \"iPad\", \"iPod\", or \"iPhone\"\n- `some * news` will search for the term \"some\" followed by any characters and then the term \"news\", like \"some great news\" or \"some breaking news\"\n- `\"apple podcast\" \"latest iPad\"` will search for the exact phrase \"apple podcast\" and the exact phrase \"latest iPad\"\n\n### A Warning about the Metadata Field\n **⚠️ The `metadata` field contains AI-extracted information and may not be accurate. The structure of this field might change over time as new fields are added.**",
                "summary": "Search for episodes",
                "tags": [
                    "Episodes"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "episodes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "episode_id": {
                                                        "type": "string"
                                                    },
                                                    "episode_guid": {
                                                        "type": "string"
                                                    },
                                                    "episode_title": {
                                                        "type": "string"
                                                    },
                                                    "episode_url": {
                                                        "type": "string"
                                                    },
                                                    "episode_audio_url": {
                                                        "type": "string"
                                                    },
                                                    "episode_image_url": {
                                                        "type": "string"
                                                    },
                                                    "episode_duration": {
                                                        "type": "integer"
                                                    },
                                                    "episode_word_count": {
                                                        "type": "integer"
                                                    },
                                                    "episode_categories": {
                                                        "type": "object",
                                                        "properties": {
                                                            "category_id": {
                                                                "type": "string"
                                                            },
                                                            "category_name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "category_id",
                                                            "category_name"
                                                        ]
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    },
                                                    "posted_at": {
                                                        "type": "string"
                                                    },
                                                    "episode_transcript": {
                                                        "type": "string"
                                                    },
                                                    "episode_transcript_word_level_timestamps": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object"
                                                            },
                                                            {
                                                                "type": "null"
                                                            },
                                                            {
                                                                "type": "boolean"
                                                            }
                                                        ]
                                                    },
                                                    "episode_description": {
                                                        "type": "string"
                                                    },
                                                    "podcast": {
                                                        "type": "object",
                                                        "properties": {
                                                            "podcast_id": {
                                                                "type": "string"
                                                            },
                                                            "podcast_name": {
                                                                "type": "string"
                                                            },
                                                            "podcast_url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "podcast_id",
                                                            "podcast_name",
                                                            "podcast_url"
                                                        ]
                                                    },
                                                    "metadata": {
                                                        "type": "object",
                                                        "properties": {
                                                            "hosts": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "host_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "host_company": {
                                                                        "type": "string"
                                                                    },
                                                                    "host_social_media_links": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "platform": {
                                                                                "type": "string"
                                                                            },
                                                                            "url": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "platform",
                                                                            "url"
                                                                        ]
                                                                    },
                                                                    "speaker_label": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "host_name",
                                                                    "host_company",
                                                                    "host_social_media_links",
                                                                    "speaker_label"
                                                                ]
                                                            },
                                                            "guests": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "guest_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "guest_company": {
                                                                        "type": "string"
                                                                    },
                                                                    "guest_social_media_links": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "platform": {
                                                                                "type": "string"
                                                                            },
                                                                            "url": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "platform",
                                                                            "url"
                                                                        ]
                                                                    },
[...]
